<html>
<head>
	<title>Smart Closet</title>
</head>
<body>
	<header>
		<h1>
			Bienvenido al Administrador de Smart Closet
		</h1>
	</header>
	<section>
		<h2>
			Ropero
		</h2>
		<h3>
			Administrar:
		</h3>
		<p>
		<a href="registrar-tipo-ropa/">Agregar un Tipo de Ropa</a>
		</p>
		<p>
		<a href="registrar-tipo-material/">Agregar un Tipo de Material</a>
		</p>
		<p>
		<a href="registrar-tipo-lugar/">Agregar un Tipo de Lugar</a>
		</p>
		<p>
		<a href="registrar-ropa/">Agregar Nueva Ropa</a>
		</p>

	</section>
</body>
</html>